/* 모바일 화면에서 메뉴를 드롭다운 형태로 보여줌 */
@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }
    .dropdown-menu {
        display: block;
    }
}

/* 데스크탑 화면에서 메뉴를 수평으로 나열하여 보여줌 */
@media screen and (min-width: 769px) {
    .menu {
        display: block;
    }
    .dropdown-menu {
        display: none;
    }
}